.overlay{
    position: fixed;
    background-color: rgba($color: #000, $alpha: 0.5);
    right: 0;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 8;
  }
  
  .navbar {
    display: block;
    position: fixed;
    background-color: white;
    top: 56px;
    border-top: 2px solid rgba( #a6c9f7, 0.4);
    box-shadow: 0 4px 4px 4px rgba(146,161,176,.15);
    bottom: 0;
    right: -100%;
    z-index: 20;
    width: 100%;
    transition: right .4s;
  
    &-container {
      display: block;
    }
  
    &-category {
      padding-top: .5rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid;
      border-color: rgba($color: #000, $alpha: 0.2);
    }
  
    &-user {
      padding: 1rem;
      display: grid;
      grid-template-columns: min-content 1fr;
  
      &__photo {
        width: 48px;
        height: 48px;
        border-radius: 36px;
        border: 1px solid #fff;
        margin-right: 1rem;
      }
    }
    &__item {
      padding-left: 1rem;
      padding-right: 1rem;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: 1rem;
      align-items: center;
      height: 2.5rem;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        background-color: rgba( #a6c9f7, 0.4);
      }
    }
  }

.menu-top {
    display: flex;
    flex-wrap: wrap;
    height: 56px; // 56px - 64px
    width: 100%;
    min-width: 300px;
    position: fixed;
    z-index: 10;
    background-color: #fff;

    &__row {
        display: flex;
        flex-wrap: wrap;    
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        row-gap: 1rem;
    }
}

.logo {
    height: 32px;
}

.shadow-button {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

.nav {
    display: none;
}
.over-show {
    display: block;
}
.flex-show {
    display: none;
}
.noshow {
}

@media screen and (min-width: 768px) {
    .menu-top{
        height: 72px;
    }

    .menu-top__row {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
    .overlay {
        top: 72px;
    }

    .navbar {
        top: 72px;
    }
    .flex-show {
        display: flex;
    }
    .nav {
        display: flex;
    }

    .show {
        display: block;
    }

    .noshow {
        display: none;
    }
}

.navshow {
    right: 0;
}

.navclosed {
    right: -100%;
}

.menunav {
    padding-top: 6rem;
    text-align: right;
}

.menu--list {
    padding-bottom: 1rem;
}