.product {
    &__title {
        color: $primary-color;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 1.5rem;
    }
    &__subtitle {
        color: $primary-color;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1rem;
        padding-bottom: 1rem;
    }

    &__price {
        margin-top: 1rem;
        font-size: 24px;
        font-weight: 600;
        margin-top: 9px;
        color: $tertiary-color;
    }
    &__text {
        margin-top: 2rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: $tertiary-color;
        padding-bottom: 2rem;
    }

    &__color {
        display: flex;
        padding-bottom: 2rem;
        
        &-label {
            display: block;
            position: relative;
            cursor: pointer;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            background-color: black;

        }
    }
    &__size {
        display: flex;
        padding-bottom: 2rem;
        &-label {
            display: flex;
            width: 48px;
            height: 40px;
            background-color: #fff;
            border: solid 1px $primary-color;
            cursor: pointer;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-right: 1rem;
        }
        &-radio {
            display: none;
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }
    &__images {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        justify-content: space-between;
    }
}
.product__color-label.selected::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    transform: none;
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 1px solid $primary-color;
}

.product__color-label input {
    border: 0!important;
    clip: rect(1px,1px,1px,1px)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    /* height: 1px!important; */
    margin: -1px!important;
    /* overflow: hidden!important; */
    /* padding: 0!important; */
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important;
}

@media screen and (min-width: 768px) {
    .product {
        &__title {
            font-size: 2rem;
            line-height: 2rem;
        }
        &__subtitle {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }
}


.product__size-label.selected {
    color: #fff;
    background-color: $primary-color;
}

@media screen and (min-width: 992px) {
    .product {

        &__gallery {
            grid-template-columns: max-content 1fr;
            grid-gap: 1rem;
        }
        &__images {
            flex-direction: column;
            max-width: max-content;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }
}
