<div class="container">
    <div class="demo-headline">
        <h1 class="headline2 text-center primary-color">Sobre Nosotros</h1>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">Un poco más acerca de nosotros...Tras varios años de experiencia en el sector del fitness y las artes marciales, en 1997 se inaugura el gimnasio Fitness Fabra Gym. Gimnasio de trato familiar.Tanto si eres deportista como si no, es muy importante mantener un buen estado de salud en todas y cada una de las etapas de nuestra vida; mejora notablemente la autoestima y aumenta en gran medida nuestra calidad de vida.</p>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">El principal objetivo del Fitness Fabra Gym es el bienestar de nuestros clientes. En nuestras instalaciones encontrarás un ambiente agradable y serio, atención personalizada y calidad de enseñanza con profesionales altamente cualificados, y todo ello al mejor precio y sin contratos de permanencia.</p>
    </div>
    <div class="demo-headline2">
        <h1 class="headline4 text-center fw-500">Más de 8 años de experiencia</h1>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">El equipo de solicom dispone de más de 8 años de experiencia en la captación de clientes y amplificación de marcas y ofertas a través de Google y redes sociales.
            Desde los inicios fuimos pioneros en aplicar cada nueva tecnología y plataforma a los proyectos de nuestros clientes.
        </p>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">
            Gracias a esta experiencia acumulada hemos podido crear un sistema concreto de 3 pasos: desde el posicionamiento en Google, hasta las campañas campañas de captación y su continua optimización – nuestro método probado cubre cada paso en el camino al crecimiento de tu marketing.
        </p>
    </div>
    <div class="demo-headline2">
        <h1 class="headline4 text-center fw-500">Orientación a nuestros clientes</h1>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">Centramos nuestro trabajo y la inversión en llegar a los resultados que nuestros clientes deseen</p>
    </div>
    <div class="demo-headline2">
        <h1 class="headline4 text-center fw-500">Seguimiento a base de datos</h1>
    </div>
    <div class="demo-text text-center">
        <p class="text-body1">Realizamos un seguimiento a tus resultados, obtenemos los datos de tu procedimiento con el fin de informar, analizar, dar seguimiento a tu desarrollo Personal</p>
    </div>
    <div class="demo-headline2">
        <h1 class="headline4 text-center fw-500">¡Conócenos!</h1>
    </div>
    <div class="demo-card-collection">
        <div class="card demo-card shadow-button">
            <div class="card-information">
                <div class="card-media">
                    <img src="./img/instructor2.jpg" alt="">
                </div>
                <div class="card__primary">
                    <div class="card__title headline6">Card Title</div>
                    <div class="card__subtitle subtitle2">Card Subtitle</div>
                </div>
                <div class="card__secondary text-body2">
                    Lorem Drescription about our card present 
                </div>
            </div>
        </div>
        <div class="card demo-card shadow-button">
            <div class="card-information">
                <div class="card-media">
                    <img src="./img/instructor2.jpg" alt="">
                </div>
                <div class="card__primary">
                    <div class="card__title headline6">Card Title</div>
                    <div class="card__subtitle subtitle2">Card Subtitle</div>
                </div>
                <div class="card__secondary text-body2">
                    Lorem Drescription about our card present 
                </div>
            </div>
        </div>
        <div class="card demo-card shadow-button">
            <div class="card-information">
                <div class="card-media">
                    <img src="./img/instructor2.jpg" alt="">
                </div>
                <div class="card__primary">
                    <div class="card__title headline6">Card Title</div>
                    <div class="card__subtitle subtitle2">Card Subtitle</div>
                </div>
                <div class="card__secondary text-body2">
                    Lorem Drescription about our card present 
                </div>
            </div>
        </div>
    </div>
</div>