<div>
    <div class="full-container">
        <div class="row">
            <div class="col-lg-7 box padding">                
                <h1 class="headline2 demo-headline primary-color">Contáctanos</h1>
                <p class="text-body1 demo-text fw-600">Estás a tiempo de mejorar tu salud a través del ejercicio físico.</p>
                <p class="headline4 demo-title fw-600">¿Estás preparado?</p>
                <p class="text-body1 demo-text">Escríbenos y te enviaremos información detallada para apuntarte a nuestro gimnasio</p>
                <p class="text-body1 fw-500 demo-text"><span class="material-icons">location_on</span> Calle Cabrera, No 57, Uyuni</p>
                <p class="text-body1 fw-500 demo-text"><span class="material-icons">mail_outline</span> titans_gym@gmail.com</p>
                <p class="text-body1 fw-500 demo-text"><span class="material-icons">phone</span> (+591)75726607</p>
            </div>
            <div class="col-lg box background-primary-color">
                <div class="card shadow-button">
                    <div class="demo-title">
                        <h4 class="headline5 fw-600">envianos un mensaje</h4>
                    </div>
                    <div class="list-items">
                        <div class='text-field--outline'>
                            <input class='input text-field--outline__input' type='name' id='name' name='name' required />
                            <label class='text-field--outline__label' htmlFor='name'>name</label>
                        </div>
                    </div>
                    <div class="list-items">
                        <div class='text-field--outline'>
                            <input class='input text-field--outline__input' type='email' id='email' name='email' required />
                            <label class='text-field--outline__label' htmlFor='email'>email</label>
                        </div>
                    </div>
                    <div class="list-items">
                        <div class='text-field--outline'>
                            <input class='input text-field--outline__input' type='text' id='text' name='text' required />
                            <label class='text-field--outline__label' htmlFor='text'>text</label>
                        </div>
                    </div>
                    <div class="list-items max-width">
                        <div class="max-width">
                            <a href="#" class="button button--refilled max-width">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>