<div class='banner'>
  <img src="./img/banner-primary.jpg" alt='banner HidelStyles' class='banner__hero-img' />
  <div class='banner-container'>
    <h1 class='headline1 weight-700'>Moda <span class="primary-color weight-700">Girls</span></h1>
    <h2 class='banner-container__subtitle'>Entrenar duele, no entrenar duele mas</h2>
  </div>
</div>
<div class="box">
  <p class="caption1 text-center opacity letter-spacing">THE BEST PRICES</p>
  <h2 class="headline2 text-center">PROMO PRICES</h2>  
</div>
<div class="card demo-card-prod shadow-button">
  <div class="card-information">
      <div class="card-media">
          <img src="../img/ShoesPromo.jpg" alt="ShoesPromo">
      </div>
      <div class="card__primary">
          <div class="card__title headline7">PACK NITRO 100% WHEY GOLD VANILLA 5.5LB + 3 STIX</div>
          <div class="card__subtitle subtitle2">Proteína de Suero Whey</div>
      </div>
      <div class="card__secondary text-body2">
          El Nitro Tech 100% Whey Gold de Muscletech es tu complemento alimenticio ideal. Define tu masa muscular de forma rápida y natural, al mismo tiempo que mejorará tu rendimiento físico al realizar cada actividad atlética o deportiva. Olvídate del cansancio y la fatiga.
      </div>
  </div>
  <div class="card__actions">
      <div class="card__actions-buttons">
        <a href="#" class="button button--refilled max-width"><span class="material-icons">shopping_bag</span> Shop Now</a>
      </div>
  </div>
</div>

<div class="box">
</div>
