<div class="demo-card-collection">
    <div class="card demo-card-prod shadow-button">
        <div class="card-information">
            <div class="card-media">
                <img src="https://labnutrition.vteximg.com.br/arquivos/ids/159563-1000-1000/nitropeco3puff.png?v=637538873135930000" alt="">
            </div>
            <div class="card__primary">
                <div class="card__title headline7">PACK NITRO 100% WHEY GOLD VANILLA 5.5LB + 3 STIX</div>
                <div class="card__subtitle subtitle2">Proteína de Suero Whey</div>
            </div>
            <div class="card__secondary text-body2">
                El Nitro Tech 100% Whey Gold de Muscletech es tu complemento alimenticio ideal. Define tu masa muscular de forma rápida y natural, al mismo tiempo que mejorará tu rendimiento físico al realizar cada actividad atlética o deportiva. Olvídate del cansancio y la fatiga.
            </div>
        </div>
        <div class="card__actions">
            <div class="card__actions-buttons">
                <a class="link primary-color">Ver más...</a>
            </div>
            <div class="card__actions-icons">
                <button class="icon-button">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">shopping_cart</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">more_vert</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="card demo-card-prod shadow-button">
        <div class="card-information">
            <div class="card-media">
                <img src="https://labnutrition.vteximg.com.br/arquivos/ids/159563-1000-1000/nitropeco3puff.png?v=637538873135930000" alt="">
            </div>
            <div class="card__primary">
                <div class="card__title headline7">PACK NITRO 100% WHEY GOLD VANILLA 5.5LB + 3 STIX</div>
                <div class="card__subtitle subtitle2">Proteína de Suero Whey</div>
            </div>
            <div class="card__secondary text-body2">
                El Nitro Tech 100% Whey Gold de Muscletech es tu complemento alimenticio ideal. Define tu masa muscular de forma rápida y natural, al mismo tiempo que mejorará tu rendimiento físico al realizar cada actividad atlética o deportiva. Olvídate del cansancio y la fatiga.
            </div>
        </div>
        <div class="card__actions">
            <div class="card__actions-buttons">
                <button class="button">Ver mas...</button>
            </div>
            <div class="card__actions-icons">
                <button class="icon-button">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">shopping_cart</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">more_vert</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card demo-card-prod shadow-button">
        <div class="card-information">
            <div class="card-media">
                <img src="https://labnutrition.vteximg.com.br/arquivos/ids/159563-1000-1000/nitropeco3puff.png?v=637538873135930000" alt="">
            </div>
            <div class="card__primary">
                <div class="card__title headline7">PACK NITRO 100% WHEY GOLD VANILLA 5.5LB + 3 STIX</div>
                <div class="card__subtitle subtitle2">Proteína de Suero Whey</div>
            </div>
            <div class="card__secondary text-body2">
                El Nitro Tech 100% Whey Gold de Muscletech es tu complemento alimenticio ideal. Define tu masa muscular de forma rápida y natural, al mismo tiempo que mejorará tu rendimiento físico al realizar cada actividad atlética o deportiva. Olvídate del cansancio y la fatiga.
            </div>
        </div>
        <div class="card__actions">
            <div class="card__actions-buttons">
                <button class="button">Ver mas...</button>
            </div>
            <div class="card__actions-icons">
                <button class="icon-button">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">shopping_cart</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">more_vert</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card demo-card-prod shadow-button">
        <div class="card-information">
            <div class="card-media">
                <img src="https://labnutrition.vteximg.com.br/arquivos/ids/159563-1000-1000/nitropeco3puff.png?v=637538873135930000" alt="">
            </div>
            <div class="card__primary">
                <div class="card__title headline7">PACK NITRO 100% WHEY GOLD VANILLA 5.5LB + 3 STIX</div>
                <div class="card__subtitle subtitle2">Proteína de Suero Whey</div>
            </div>
            <div class="card__secondary text-body2">
                El Nitro Tech 100% Whey Gold de Muscletech es tu complemento alimenticio ideal. Define tu masa muscular de forma rápida y natural, al mismo tiempo que mejorará tu rendimiento físico al realizar cada actividad atlética o deportiva. Olvídate del cansancio y la fatiga.
            </div>
        </div>
        <div class="card__actions">
            <div class="card__actions-buttons">
                <button class="button">Ver mas...</button>
            </div>
            <div class="card__actions-icons">
                <button class="icon-button">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">shopping_cart</span>
                </button>
                <button class="icon-button">
                    <span class="material-icons">more_vert</span>
                </button>
            </div>
        </div>
    </div>
</div>
