
/*
    BUTTON

    * Props
        - btn__icon
        - btn__full
    * Events
        - btndisabled
    * Objetos
        - btn--refilled
        - btn--outline
        - btnneumorphic
        - btnfacebook
*/
.btn {
    height: 40px;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0052857143em;
    text-decoration: none;
    color: #2f2f2f;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.5s; }
    .btn:hover {
      cursor: pointer; }
    .btn:active {
      background-color: rgba(47, 47, 47, 0.3); }
    .btn__icon {
      padding-right: 1rem; }
    .btn__full {
      width: 100%; }
    .btn--disabled, .btn[disabled] {
      opacity: .5;
      pointer-events: none; }
    .btn--refilled {
      background-color: #2f2f2f;
      color: #fff; }
      .btn--refilled:hover {
        background-color: rgba(0, 0, 0, 0.9); }
    .btn--outlined {
      border: 1px solid #2f2f2f;
      background-color: transparent; }
    .btn--neumorphic {
      background-color: #ecf0f3;
      box-shadow: 8px 8px 8px #cbced1,
   -8px -8px 8px #fff; }
      .btn--neumorphic:hover {
        box-shadow: inset 8px 8px 4px #cbced1,
   inset -8px -8px 4px #fff; }
    .btn--facebook {
      color: #fff;
      background-color: #475993; }
  