/*
  DRAWER
*/

.drawer {
    width: 256px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    height: 100%;
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #fff; }
    .drawer__header {
      padding: 0px 16px;
      min-height: 64px; }
    .drawer__title {
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: .0125em;
      line-height: normal; }
      .drawer__title::before {
        display: inline-block;
        width: 0;
        height: 30px;
        content: "";
        vertical-align: 0; }
    .drawer__subtitle {
      font-size: .875rem;
      font-weight: 400;
      letter-spacing: .018em;
      line-height: normal;
      color: rgba(0, 0, 0, 0.6); }
      .drawer__subtitle::before {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: 0; }
    .drawer__content {
      height: 100%;
      overflow-y: auto; }
  