
/*
    TEXT-FIELD
    *   input
    1-  TEXT-FIELD-FILLED
    2.- TEXT-FIELD-OUTLINE
    3.- TEXT-FIELD-NEUMORPHIC
*/

/* input */
.input {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009357em;
    background: none;
    width: 100%;
    height: 100%; }
  
  /*
      TEXT-FIELD-FILLED
  */
  .text-field--filled {
    background-color: #f5f5f5;
    height: 56px;
    border-radius: 4px 4px 0 0;
    position: relative; }
    .text-field--filled:hover {
      background-color: rgba(0, 0, 0, 0.04); }
    .text-field--filled__input {
      height: 100%;
      border-bottom: 1px solid;
      border-bottom-color: rgba(0, 0, 0, 0.42);
      padding: 16px 16px 6px; }
      .text-field--filled__input:hover {
        border-bottom: 1px solid; }
      .text-field--filled__input:focus {
        border-bottom: 2px solid;
        border-bottom-color: #2f2f2f; }
    .text-field--filled__label {
      color: rgba(0, 0, 0, 0.6);
      left: 16px;
      right: auto;
      position: absolute;
      top: 40%;
      font-weight: 400;
      letter-spacing: 0.01em;
      transition: .2s;
      cursor: text; }
  
  .text-field__input:valid + .text-field__label {
    color: rgba(0, 0, 0, 0.6);
    font-size: .8rem;
    top: 14%; }
  
  .text-field__input:focus + .text-field__label {
    color: #2f2f2f;
    font-size: .8rem;
    top: 14%; }
  
  /*
      TEXT-FIELD-OUTLINE
  */
  .text-field--outline {
    position: relative; }
    .text-field--outline__input {
      border: 1px solid rgba(0, 0, 0, 0.42);
      padding: 16px 16px;
      border-radius: 4px;
      background-color: #fff; }
      .text-field--outline__input:hover {
        border: 1px solid rgba(0, 0, 0, 0.6); }
      .text-field--outline__input:focus {
        border: 2px solid #2f2f2f; }
      .text-field--outline__input--textarea {
        height: 7rem; }
    .text-field--outline__label {
      position: absolute;
      color: rgba(0, 0, 0, 0.6);
      left: 16px;
      top: 32%;
      transition: .2s; }
  
  .text-field--outline__input:valid + .text-field--outline__label {
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0 6px;
    top: -8px; }
  
  .text-field--outline__input:focus + .text-field--outline__label {
    font-size: 0.8rem;
    border-radius: 4px;
    top: -8px;
    padding: 0 6px;
    background-color: #fff;
    color: #2f2f2f; }
  
  .text-field-invalid > input:invalid {
    border-color: #d32f2f; }
  
  .text-field-invalid > :empty {
    border-color: #d32f2f; }
  
  .text-field-invalid > .text-field--outline__label {
    color: #d32f2f;
    background-color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 0 6px;
    top: -8px; }
  
  /*
      TEXT-FIELD-NEUMORPHIC
  */
  .text-field--neumorphic {
    height: 56px;
    border-radius: 4px;
    box-shadow: inset 8px 8px 8px #cbced1,
   inset -8px -8px 8px #fff; }
    .text-field--neumorphic__input {
      padding: 20px 16px; }
  