$primary-color: #2f2f2f;
$secondary-color: #7a5656;
$tertiary-color: #7a7a7a;
$quartary-color: #473232;
$quintuary-color: #c7c7c7;

$background-color: #ecf0f3;
$background-activated-color: rgba($primary-color, .15);
$background-disabled-color: #f5f5f5;
$background-hover-color: rgba(0,0,0,.04);
$text-disabled-color: rgba(0,0,0,.6);
$disabled-color: rgba(0,0,0,.42);
$hover-color: rgba(0,0,0,.6);

$grid-breakpoints : (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
);

$container-max :(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
);

.link {
    color: $primary-color;
    font-weight: 500;
    opacity: .8;
    &--actived {
        color: $secondary-color;
    }
    &:hover {
        color: $secondary-color;
    }
}

.opacity {
    opacity: .6;
}

/* base */
@import './base/reset';

/* theme */
@import './theme/color';
@import './theme/typography';

/* layout */
@import './layout/grid';
@import './layout/layout';

/* components */
    /* atoms */
    @import 'components/atoms/textfield';
    @import 'components/atoms/btn';
    @import 'components/atoms/icon-btn';
    @import 'components/atoms/radio-btn';
    /* molecules */
    @import 'components/molecules/card';
    @import 'components/molecules/search';
    @import 'components/molecules/banner';
    @import 'components/molecules/navbar';
    /* organisms */
    @import 'components/organisms/tabbar';
    @import 'components/organisms/drawer';
    @import 'components/organisms/menu';
    @import 'components/organisms/footer';

@import 'components/sections';
@import 'components/faq';
@import 'components/product';

.main-container {
    padding-top: 56px;
    padding-bottom: 4rem;
    overflow: auto;
}
@media screen and (min-width: 768px) {
    .main-container {
        padding-top: 72px;
    }
}

/* Tamaño del scroll */
.main-container::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .main-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .main-container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .main-container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .main-container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .main-container::-webkit-scrollbar-track:hover, 
  .main-container::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
